astroid @ file:///D:/bld/astroid_1602489393750/work
certifi==2020.6.20
click==7.1.2
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1602866480661/work
cycler==0.10.0
Flask==1.1.2
isort @ file:///home/conda/feedstock_root/build_artifacts/isort_1602591728846/work
itsdangerous==1.1.0
Jinja2==2.11.2
joblib @ file:///tmp/build/80754af9/joblib_1601912903842/work
kiwisolver @ file:///D:/bld/kiwisolver_1602517369422/work
lazy-object-proxy @ file:///D:/bld/lazy-object-proxy_1602435572008/work
MarkupSafe==1.1.1
matplotlib @ file:///D:/bld/matplotlib-suite_1602600987968/work
mccabe==0.6.1
mkl-service==2.3.0
numpy @ file:///D:/bld/numpy_1602429360191/work
olefile @ file:///home/conda/feedstock_root/build_artifacts/olefile_1602866521163/work
pandas @ file:///D:/bld/pandas_1602503023092/work
Pillow @ file:///D:/bld/pillow_1602708883125/work
pylint @ file:///D:/bld/pylint_1602598303351/work
pyparsing==2.4.7
PyQt5==5.12.3
PyQt5-sip==4.19.18
PyQtChart==5.12
PyQtWebEngine==5.12.1
python-dateutil==2.8.1
pytz==2020.1
scikit-learn @ file:///C:/ci/scikit-learn_1598377018496/work
scipy @ file:///C:/ci/scipy_1592916963468/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1590081179328/work
threadpoolctl @ file:///tmp/tmp9twdgx9k/threadpoolctl-2.1.0-py3-none-any.whl
toml @ file:///home/conda/feedstock_root/build_artifacts/toml_1589469402899/work
tornado @ file:///D:/bld/tornado_1602489173250/work
Werkzeug==1.0.1
wincertstore==0.2
wrapt @ file:///D:/bld/wrapt_1602463535053/work
